 /* RESET LAYOUT BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

/* IMPOST FONT BY GOOGLEFONTS */
/* THIS SHADOW WAS CHOSEN SO THAT IT WOULD MAKE THE EYES LESS EMERGENT*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(24, 23, 23, 0.849); 
}


/* STYLE OF HEADER BANNER */

header{
  background-color: white;
  height: 140px;
  line-height: 140px;
}

/* STYLE OF HEADER'S LOGO */

.logo {
  height: 80px;
  vertical-align: middle;
}

/* MAIN TITLE IN HEADER  */

h1{
  display: inline-block;
  font-size: 2.5rem;
  vertical-align: middle;
}


/* SECTION BUTTON KEYS */
.keys {
  height: 50px;
  width: 70%;
  background-color: white;
  margin: 40px auto 3px;
  padding: 0;
  
}

/* THE 2 BUTTON */
button{
  margin: 2px;
  padding: 5px;
  border-radius: 10%;
  
}
 
/* CONTENITOR OF BUTTONS, SEEMS MORE SIMPLY TO GIVE STYLE */
.buttons{
  margin-left: 10px;
  line-height: 50px;
}

/* ASS TASK */
.task {
  color: white;
  background-color: rgb(7, 148, 241);
  border: none;
}

/* ASS SECTION */
.section-add{
  color: gray;
  border: gray;
}



/* SECTION LIST */
.mainlist {
  margin-top: 3px;
  width: 70%;
  height: 550px;
  margin: auto;
  background-color: white;
  
}

/* SYMBOL BEFORE LIST NAME */
.symbol{
  display: inline-block;
  font-size: .5em;
  margin-right: 2px;
  vertical-align: middle;
}

/* FIRST UNORDER LIST */
ul{
  margin-left: 30px;
  list-style: none;
}


/* SYMBOL OF CHECK */
.check {  
  color: green;
  display: inline-block;    
  border: 1px solid green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
}

.cross {  
  color: red;
  display: inline-block;    
  border: 1px solid red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
}

/* BUTTON-LIST-BLU */
.button-listblu {
  width: 80px;
  height: 25px;
  background-color: rgb(7, 148, 241);
  color: white;
  border-radius: 3em / 4em;
  border: none;
}

/* BUTTON-LIST-VIOLET */
.button-listviolet {
  width: 80px;
  height: 25px;
  background-color: rgb(136, 7, 241);
  color: white;
  border-radius: 3em / 4em;
  border: none;
}

/* BUTTON-LIST-GREEN */
.button-listgreen {
  width: 80px;
  height: 25px;
  background-color: green;
  color: white;
  border-radius: 3em / 4em;
  border: none;
}

/* BUTTON-LIST-Orange */
.button-listorange {
  width: 80px;
  height: 25px;
  background-color: orangered;
  color: white;
  border-radius: 3em / 4em;
  border: none;
}

/* BUTTON-LIST-PINK */
.button-listpink {
  width: 80px;
  height: 25px;
  background-color: pink;
  color: white;
  border-radius: 3em / 4em;
  border: none;
}

/* BUTTON-LIST-LIME */
.button-listlime {
  width: 80px;
  height: 25px;
  background-color: lime;
  color: white;
  border-radius: 3em / 4em;
  border: none;
}


.firstlist, .secondlist, .thirdlist {
  margin-bottom: 30px;
  
}

.secondlist, .thirdlist{
  margin-top: 20px;
}

.title {
  margin-bottom: 10px;
}

li{
  margin-bottom: 10px;
}

.mainlist{
  padding-left: 30px;
}

.buttons{
  padding-left: 20px;
}